[Unit]
Description=Open Source Next Generation Intrusion Detection and Prevention Engine
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/suricata -c /etc/suricata/suricata.yaml --af-packet=p4p1 --pidfile /var/run/suricata.pid
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
